body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.main-container {

  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos del header */
.header {
  position: relative; /* Para que el posicionamiento sea relativo a este elemento */
  font-size: 20px;
  background-image: url("https://images6.alphacoders.com/127/1271722.jpg"); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el header */
  background-position: center; /* Centra la imagen en el header */
  height: 400px; /* Altura del header */
  color: white; /* Color del texto para asegurarse de que es legible */
  display: flex; /* Para centrar el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: left; /* Centra horizontalmente el contenido */
  text-align: left; /* Centra el texto */
  padding-left: 20px;
}

/* Estilos de la barra de navegación */
nav {
  position: absolute; /* Posicionamiento absoluto para colocarla encima de la imagen */
  bottom: 0; /* La barra de navegación se coloca al fondo del contenedor de la imagen */
  left: 0; /* La barra de navegación se coloca en el borde izquierdo del contenedor */
  width: 100%; /* La barra de navegación ocupa todo el ancho del contenedor */
  background-color: #a97c09;
  padding: 20px;
  color: white;
  margin: none;
  box-sizing: border-box;
  font-weight: bold;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left; /* Alinea los elementos a la izquierda */
}

nav ul li {
  display: inline-block;
  margin-right: 30px; /* Espacio entre elementos de la lista */
}

nav ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: #111;
  color: white;
}

.center-text {
  text-align: center;
}

main {
  padding: 20px;
  max-width: 2400px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: flex-start; /* Alinea las secciones al inicio del contenedor */
}

#left-section {
  flex: 1; /* Cada sección ocupa el mismo espacio */
  padding: 20px;
}

#left-section img {
  float: left;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

#right-section {
  flex: 1; /* Cada sección ocupa el mismo espacio */
  padding: 20px;
}

.divider {
  width: 5px;
  background-color: #000; /* Color de la línea divisoria */
  margin: 20px 0; /* Espaciado entre las secciones y la línea */
}

.left-text {
  text-align: left;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border-radius: 50%;
}

#services .fa-solid {
  color: #a97c09; /* Cambia a cualquier color que desees */
  font-size: 35px;
  border-radius: 50%;
}

#services article {
  flex: 1 1 30%; /* Ajusta el tamaño según sea necesario */
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  
}

#services h2.center-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#portfolio h2.center-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#portfolio {
  padding: 20px;
  text-align: center;
  background-color: #ccc;
  max-width: 100%;
  margin-bottom: 50px;
  
}

#portfolio .center-text {
  text-align: center;
  margin-bottom: 20px;
}

#portfolio .image-container {
  display: flex;
  flex-wrap: wrap;       /* Permite que las imágenes se envuelvan en múltiples filas */
  gap: 20px;             /* Espacio entre cada imagen */
  justify-content: center; /* Centra las imágenes */
  width: 100%;
  
}

.image-container img {
  width: 33.33%;
  height: 200px;
  object-fit: cover;
}

p {
  margin: 0; /* Elimina el margen por defecto */
  padding: 10px; /* Espacio interno en el párrafo */
  font-size: 16px; /* Tamaño de fuente del párrafo */
}

#wheater {
  display: flex;  /* Aplica Flexbox */
  flex-direction: column;
  justify-content: center;  /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  height: 50vh;  /* Hace que la sección ocupe toda la altura de la ventana */
  background-image: url('https://www.weathercompany.com/wp-content/uploads/2024/02/hero-sky-dramatic-lightning-weather-shutterstock_2200924189.jpg');
  background-size: cover;
  margin-bottom: 50px;
  margin-top: 20px;
  font-family:sans-serif;
  font-size: 25px;
  color: #ccc;
  border: none;
;
}

.widget-container {
  border-radius: 15px;
   

}

#horaActual {
  padding: 20px 25px;
  font-family:sans-serif;
  font-size: 25px;
  font-weight: bolder; 
}


.weatherwidget-io {
  width: 605px;
  text-align: center;  /* Centra el texto dentro del enlace */
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
   
}

#data {
  background-image: url("https://platform.vox.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/16013556/shutterstock_785442694.jpg?quality=90&strip=all&crop=7.0163730803975%2C0%2C85.967253839205%2C100&w=1200");
  background-size: cover;
  background-position: center;
  padding: 25px;
  font-size: 1rem;
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que la sección ocupe toda la altura de la ventana */
}

.form-container {
  width: 100%;
  max-width: 800px; /* Máximo ancho del formulario */
  background-color: rgba(81, 81, 93, 0.7);
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 800;
  margin-top: 50px;
}

form {
  width: 100%;
  max-width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
  margin: 0 auto; /* Centra el formulario */
 
}

.form-group {
  margin-bottom: 2px;
  padding: 0.30rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding-left: 5px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.input-textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 0.75rem;
  background-color: #a97c09;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  text-align: center;
  border: none;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  body {
    margin: 10px;
    font-size: 0.9rem;
  }

  form {
    padding: 1rem;
    max-width: 100%;
  }

  .form-control {
    height: 2rem;
  }

  textarea {
    height: 3rem;
  }

  .input-textarea {
    padding: 0.5rem;
    width: 100%;
  }
}



#footer {
  background-color: #a97c09;
  text-align: right;
  margin: 0;
  padding: 0; /* Elimina cualquier padding */
  font-size: 20px;
}

a {
  color: black;  /* Color del enlace en su estado normal */
  text-decoration: none;  /* Elimina el subrayado del enlace */
}

a:visited {
  color: black;  /* Color del enlace después de haber sido visitado */
}

